@import '~@fluentui/react/dist/sass/References.scss';
.headerClass {
    background-color: $ms-color-themeDark;
    height: 32px;
    align-items: center;
    color:  $ms-color-themeLighterAlt;
  }
  .headerTextClass{
    color:  $ms-color-themeLighterAlt;
  }
  .headerIconClass{
    color:  $ms-color-themeLighterAlt;
    padding: 10px;
  }