@import '~@fluentui/react/dist/sass/References.scss';
.navStyles {
    root: {
      width: 208;
      height: "100%";
      boxSizing: "border-box";
      border: "1px solid #eee";
      overflowY: "auto",
    }
  };

  .panelClass {
    background-color: $ms-color-themeLighterAlt;
    border-color:  $ms-color-themeLighter;
    border-style: "solid";

  };
  .iconClass {
    color:  $ms-color-themePrimary;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: small;
  };
  @media screen and (max-width: 800px) {
  .ms-Nav-linkText{
      display: none;
  }
}